/* @import "~antd/dist/antd.css"; */

.container-inner {
  min-height: calc(100vh - 150px);
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
  position: relative;
}

.content-inner {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 150px);
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
  position: relative;
}

.gutter-row {
  margin-bottom: 16px;
}

.chart label {
  margin: 24px 0;
  display: block;
  font-size: 14px;
}

.chart pre {
  padding: 16px;
  overflow: auto;
  font-size: 12px;
  line-height: 2;
  background-color: #f6f8fa;
  border-radius: 3px;
}


/* fade */

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translatex(50px);
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translatex(0);
  transition: all 300ms ease-in;
}

.fade-exit,
.fade-leave {
  opacity: 1;
  transform: translatex(0);
}

.fade-exit.fade-exit-active,
.fade-leave.fade-leave-active {
  opacity: 0;
  transform: translatex(50px);
  transition: all 150ms ease-in;
}